---
layout: default
---
<!-- bio.html -->
        <div class="bio">

          <header class="bio-header">
            <h1 class="bio-title">{{ page.first_name }} {{ page.last_name }}</h1>
          </header>

          <article>
            {% if page.profile -%}
            <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
              {%- if page.profile.image %}
                {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

                {% if page.profile.image_circular %}
                  {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
                {% else %}
                  {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
                {% endif %}

                {% include figure.html 
                path=profile_image_path 
                class=profile_image_class
                alt=page.profile.image -%}
              {% endif -%}
              {%- if page.profile.address %}
              <div class="address">
                {{ page.profile.address }}
              </div>
              {%- endif %}
            </div>
            {%- endif %}

            <div class="clearfix">
              {{ content }}
            </div>
          </article>
        </div>
